<!DOCTYPE html>
<html>
<head>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script type='text/javascript' src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<link rel="stylesheet" href="/bcm_frontend/css/bcm.css">

<title>BCM Deliveries Driver Frontend</title>

</head>

<body>

<h1 class="page_header">BCM Deliveries Driver View</h1>


<div class="main" id="driver_app">
<div> Hello, {{getCurrentDriverName (driver_id) }}. 
	You are currently listed as: <span :class="status_css_ids[getCurrentDriverStatusId(driver_id)]"> {{getCurrentDriverStatusLabel(driver_id)}}</span>
</div>
<div class="error_msg">{{error}}</div>
<div>
	<select class="driver_status_change" id="driver_status_change" @change="changeDriverStatus($event)">
		<option value="" selected disabled>Select new status</option>
		<option v-for="status in statuses" :value="status.id" :disabled="status.id === getCurrentDriverStatusId(driver_id)" :key="status.id">{{status.status_label}}</option>
	</select> 
</div>
	<h2 class="board_header">Current Status of all Trucks:</h2>
	<div id="board_body" class='board-container'>
		<div class="status" v-for="status in statuses" >
			<div :class="status_css_ids[status.id]">{{status.status_label}}</div>
			<div class="status_content">
			<template v-for="overview in status_overview">
				<div class="truck" v-if="overview.status_id == status.id && overview.driver_id != driver_id">
					<div class="truck_label">{{overview.truck_label}}</div>
					<div class="driver">{{overview.driver_first_name || 'No Driver'}} {{overview.driver_last_name}}</div>
					<div class="note">Note: {{overview.note || "N/A"}}</div>
				</div>
			</template>
			</div>
				
			</div>		
		</div>
			
		</div>
		
	</div>

</div>
<script type='text/javascript' src="/bcm_frontend/js/bcm_driver.js"></script>

</body>
</html>