.board-container{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

@media (max-width: 500px){
	.board-container{
		flex-direction: column;
	}
}
.status {
	padding: 10px;
	border: 2px solid grey;
}
/*
#loading .status_header {
	background-color: #7FC9FF;
}


#outbound .status_header {
	background-color: #ADFFC5;
}

#returning .status_header {
	background-color: #FFDCBC;
}

#maintenance .status_header {
	background-color: #C0C0C0;
}*/
.loading {
	background-color: #7FC9FF;
}


.outbound  {
	background-color: #ADFFC5;
}

.returning  {
	background-color: #FFDCBC;
}

.maintenance  {
	background-color: #C0C0C0;
}


.status_content {
	margin 2px;
}
.truck {
	padding: 3px;
	border: 2px solid #F0F0F0;
	background-color: #F9F9FA;
}

.truck_label{
	background-color: #F8ECD9;
}

#other .status_header {
	background-color: #FFDDFA;
}